name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: pdo_sqlite
          tools: composer

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Check code formatting with Pint
        run: vendor/bin/pint --test

      - name: Check code quality with Larastan
        run: vendor/bin/phpstan analyse
